Flask
Flask-Cors
mysql-connector-python
pymysql
werkzeug
langchain
huggingface-hub
langchain                   
langchain-chatchat          
langchain-community         
langchain-core              
langchain-experimental      
langchain-huggingface       
langchain-openai            
langchain-text-splitters    
langchainhub                
langdetect                  
langsmith                   
       

